*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game{
    height: 100vh;
    width: 100vw;
    background-color: #213C5A; 
    display: flex;
    justify-content: center;   
}

.board{
    background-color: #2d517a;
    margin: auto;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.case{
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
