*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.root{
    display: flex;
    flex-direction: column;
}
.game{
    height: 100vh;
    width: 100vw;
    background-color: #213C5A; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    align-items: center; 
}

.player-section{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem;
    color: white;
    font-size: 1.5rem;
}

.coin-balance{
    font-size: 1.3rem;
    text-align: center;
    color: #F0CC4B;
}

.board{
    background-color: #2d517a;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.case{
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all ease;
}

.case:hover{
    background-color: #386faf;
}

.message{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: white;
}

button{
    width: 10rem;
    height: 2rem;
}